#content {
  padding-bottom: 10px;
}

body {
  min-height: 100vh;
}

body, .sk-layout {
  background-color: #fafafa !important;
}

.tooltip
{
  width: 250px;
  white-space : normal;
}

.navbar-brand{
  display: inline-block;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.invisible {
  visibility: hidden;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #212529;
  text-align: left;
  font-size: 1.25rem;
  caption-side: top;
}

.div-border {
  padding: 0.7em;
  margin: 1em 0;
  border-width: 0.2rem;
  border: solid 1px #eee;
  border-radius: 15px;
}

.display-block {
  display: block !important;
}

.nowrap {
  white-space: nowrap;
}

/* Antibody  */
html{
  background-color: #f4f4f4;
}
body{
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
}
.toptitle{
  font-size:1.5rem;
}
.sk-top-bar,
.topmenu{ 
  min-height: 64px;
  box-sizing: border-box;
  background-color:#444A65;
}

.uploadWrap{
  width: 70%;
  margin: 30px auto 0 auto;  
  display: flex;
}

.uploadWrap a{ 
  color: #444A65;
  text-decoration:underline;
}

.uploadWrap .leading-relaxed{
  margin:10px auto;
}
.uploadCol{
  padding: 0 20px;
  flex:50%;
  text-align:left;
}

.uploadColS{
  padding: 0 20px;
  flex:20%;
  text-align:left;
}

.uploadColL{
  padding: 0 20px;
  flex:80%;
  text-align:left;
}

.uploadCol{
  background-color:white;
  margin:20px;
  padding:30px;
  background:white;
  border-radius:.5rem;
}
.uploadCol h3{
  font-size: 2rem;
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.167;
  margin-bottom: 16px;
}
.uploadColClr{
  background:none;
}
.uploadCol p{
  text-align:left;
  display:inline-block;
  font-size: 1rem;
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom:16px;
}
.uploadCol input,
.uploadCol select {
  background-color:#fafafa;
  padding:15px;
}
.uploadInnerWrap{
  width: 100%;
  margin-bottom:20px;
}
.uploadInnerWrap label{
  font-size: 1.6rem;
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.235;
}
.uploadInnerWrap p{
  text-align:left;
  display:inline-block;
}
.uploadInnerWrap input{
  text-align:left;
  display:inline-block;
}

.UploadInnerWrapFull{
  flex: 100%;
  text-align: left;
  width:50%;
  margin-top:20px;
}
.submitBut{
  margin-top:20px;
}
.completedCol{
  margin:auto;
  flex:100%;
}
#upload-results{
  margin: 0 auto;
  max-height: 600;
  overflow: auto;
}
#upload-results table{
  margin-bottom: 20px;
  text-align: left;
}

.centerJustify{
  flex-direction: column;
  justify-content: center;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}



@media (min-width: 992px) {
.button-placement {
  position: relative;
  float: right;
  margin-right: 8px;
}
}

.banner {
  margin: 75px 15px -65px;
  padding: 10px;
  border: 1px solid rgb(255, 230, 156);
  background-color: rgb(255, 243, 205);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}

.sk-top-bar__content{
  display:inline-block;
  max-width: 1280px;
}
.topmenuRight{
  float:inline-end;
  display: inline-block;
  text-decoration: none;
}
.sk-layout__body{
  width: 90%;
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;
}
.sk-layout__body h1{
  color:rgb(68, 74, 101);
  font-weight: 200;
  font-size: 2.3rem;
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
  font-variation-settings: "slnt" 0, "wght" 200;
  line-height: 1.2;
  margin: 30px 20px 0 0;
}
.sk-layout__body h1 svg{
  color:rgb(68, 74, 101);
  width:45px;
}
.sk-layout__body a{
  color: rgb(42, 111, 184);
}
.sk-layout__body button{
  background-color: rgb(68, 74, 101);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  border-color: rgba(0,0,0,.175);
  border-radius: 0.375rem;
  font-size: 1.3rem;
  /* margin-bottom: 20px; */
}

.sk-layout__body .sk-layout__filters {
  margin: 0;
}

.sk-layout__body .sk-layout__filters a.collapseButton{
  line-height: 1;
  font-size: 14px;
  color: #08c;
  border: none;
  margin-bottom:0px;
  cursor: pointer;
}
.sk-layout__body .sk-layout__filters a.collapseButton:visited{
  color: #08c;
}

.sk-action-bar{
  display:inline-block;
  margin: 0 auto 0 10px;
}
.searchView{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  width: 100%;
}
.sk-search-box{
  display:inline-block;
  background-color: #fff;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 8px;
  text-align: center;
  /* width: 100%; */
  margin-top: 20px;
}
.sk-search-box input.sk-search-box__text{
      appearance: none;
    background-clip: padding-box;
    background-color: var(--bs-body-bg);
    
    border-radius: var(--bs-border-radius);
    color: var(--bs-body-color);
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}
.sk-panel__header{
  font-weight: normal;
}
.sk-panel_filter{
  background: none!important;
  margin: 15px 0 15px 15px;
  flex: 0 0 246px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.sk-panel_filter button{ 
  background: none!important;
  margin: 15px 0 15px 15px;
  flex: 0 0 246px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.sk-panel_filter_{
  background: #fff;
  padding: 15px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.sk-panel__header.is-collapsable::after{
  /* content: url('data:image/svg+xml; utf8, <svg focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandMoreIcon"><path d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>') */
}

.avr-container {
  width: 90% !important;
  max-width: initial !important;
}

.sk-item-list{
  margin-left: 20px;
}
.sk-item-list-option__count{
  color:#666;
}
.sk-item-list-option.is-active .sk-item-list-option__count{
  font-weight:700 !important;
}
.sk-layout__results{
  background:none !important;
  box-shadow: none !important;
  max-width: 83%;
}

.sk-searchActions {
  display: flex;
  justify-content: space-between;
}

.sk-table__wrap {
  padding: 8px;
  overflow-x: auto;
}

@media (max-width: 991px) {
  .searchView, .sk-searchActions {
    display: block;
  }
  .sk-layout__results{
    max-width: initial
  }
  .sk-layout__body {
    min-width: initial;
  }
  .sk-action-bar, .sk-results-list, .sk-table__wrap {
    margin: 0;
    padding: 0;
  }
  #downloadfile {
    text-align: center;
  }
}

.sk-table-striped tr:nth-child(2n-1) td{
  background-color: white!important;
}
#antibody-results-table{
  background-color: white!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
#antibody-results-table thead{
  display: table-header-group;
  background-color: white!important;
}
#antibody-results-table th{
  font-weight: 800!important;
  font-size: 0.8rem;
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}
#antibody-results-table td{
  font-weight: 300;
  font-size: 0.8rem;
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.43;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
  min-width: 190px;
  max-width: 250px;
}

div.panel{
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  padding: 5px 15px 5px 15px;
  margin: 25px 15px 5px 15px;
  flex: 0 0 246px;
  font-size: 0.8em;
  /* border:1px solid #a3a3a3; */
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}