<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-329LZM826B"></script>
        <script>
            let track_host = 'avr.hubmapconsortium.org';
            if (window.location.hostname == track_host) {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-329LZM826B', {
                    'cookie_domain': track_host,
                    'cookie_flags': 'max-age=7200;secure;samesite=none'
                });
                console.log("Google Analytics ON");
            } else {
                console.log("Google Analytics OFF");
            }
        </script>
        <title>HuBMAP AVR Search</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/searchkit/2.0.0/theme.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <link rel="icon" href="/static/favicon.ico">
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>

    <body>
        <script>
          var assets_url={{ assets_url | tojson }};
          var display={{ display | tojson }};
          var csv_column_order={{ csv_column_order | tojson }};
          var omap_id_linkage={{ omap_id_linkage | tojson }};
          var banner_message={{ banner_message | tojson }};
        </script>
        <div id="render-react-here"></div>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='dist/search.bundle.js') }}"
        ></script>
    </body>
</html>
