{% extends 'base.html' %}

{% set page_title = "Search" %}

{% block content %}
<script>
  var assets_url = {{ assets_url | tojson }};
  var display = {{ display | tojson }};
  var csv_column_order = {{ csv_column_order | tojson }};
  var omap_id_linkage = {{ omap_id_linkage | tojson }};
  var banner_message = {{ banner_message | tojson }};
</script>
<div id="render-react-here"></div>
<script type="text/javascript" src="{{ url_for('static', filename='dist/search.bundle.js') }}"></script>
{% endblock %}