{% extends 'base.html' %}

{% set page_title = "Upload (v2)" %}

{% block head_content %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="render-react-here"></div>
<script type="text/javascript" src="{{ url_for('static', filename='dist/upload.bundle.js') }}"></script>

    <script>
      var token={{ token | tojson }};
      var data_provider_groups={{ data_provider_groups | tojson }};
    </script>
    <section class="text-gray-600 body-font relative" id="form-block">
      

      <div class="container avr-container px-5 mx-auto">
        <h1>Upload AVRs</h1>

        <div class="uploadWrap">

          <div class="uploadCol uploadColClr">
            <h3>Antibody Validation Report</h3>
              <p class="leading-relaxed text-base">
                  The X-Atlas Antibody Validation Report Upload allows new reports to be uploaded to the X-Atlas AVR tracking system.
              </p>
              <p class="leading-relaxed text-base">
                  To upload a report, follow the steps outlined in the
                  <a href="https://docs.hubmapconsortium.org/avr/avr-upload-v2.html" target="_blank">Uploading new reports</a>
                  documentation.
                  You will need to create a .tsv file according to the
                  <a href="https://docs.hubmapconsortium.org/avr/tsv-format-v2.html" target="_blank">TSV Structure</a>
                  documentation.
                  We have also provided a
                  <a href="https://docs.hubmapconsortium.org/avr/avr-template-v2.tsv" target="_blank">template tsv file</a>
                  to get you started.
              </p>
          </div>

          <div class="uploadCol">
            <form onsubmit="AJAXSubmit(this); return false;" enctype="multipart/form-data" action="/antibodies/import" method="post" id="antibody-form">

              <div class="uploadInnerWrap">
                <label for="name" class="text-base leading-7 text-blueGray-500 mb-5">Antibody Files</label>
                  <p>
                      Upload a single tsv file describing the AVRs being uploaded (see
                      <a href="https://docs.hubmapconsortium.org/avr/avr-upload-v2.html" target="_blank">Uploading new reports</a>
                      and
                      <a href="https://docs.hubmapconsortium.org/avr/tsv-format-v2.html" target="_blank">TSV Structure</a>
                      ).
                  </p>
                  <input accept=".tsv" name="file" multiple="multiple" type="file" id="fileInput" class="btn btn-primary-outlined" required="" />
              </div>
      
              <div class="uploadInnerWrap">
                <label for="name" class="text-base leading-7 text-blueGray-500 mb-5">Antibody PDFs</label>
                  <p>
                      Upload the PDF files associated with the tsv by clicking Browse.
                      To easily upload place all files in a single directory and use the ctrl (or command on Mac)
                      key to select them all in the file dialog.
                  </p>
                  <input accept=".pdf" name="pdf" multiple="multiple" type="file" id="fileInput">
              </div>
              
              <div class="UploadInnerWrapFull">
              {% if data_provider_groups %}
                  <div>
                  Data Provider Group:
                  <select name="group_id">
                      {% for g in data_provider_groups %}
                      <option value="{{g[0]}}">{{ g[1] }}</option>
                      {% endfor %}
                  </select>
                  </div>
                  {% endif %}
                  <div class="w-full submitBut">
                  <button type="submit" class="mx-auto text-white btn btn-primary w-50 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
                  </div>
              </div>
              
            </form>
          </div>

        </div>

      </div>

  </section>

  <section class="avr-container mt-5 container hidden" id="loading-screen">
    <div role="alert" class="fade alert alert-info show">
      <div class="alert-heading h4">Uploading now...</div>
      <p>This may take a few seconds per line in the .tsv file.</p>
    </div>
  </section>

  <section class="avr-container mt-5 container hidden" id="upload-results-block">
    <div role="alert" class="fade alert show">
      <div class="alert-heading h4">Upload Results</div>
      <div id="upload-results"></div>
      <a class="flex mx-auto btn btn-primary border-0 py-2 px-8 rounded text-lg" href="/upload">Retry</a>&nbsp;
      <a class="flex mx-auto btn btn-secondary border-0 py-2 px-8 rounded text-lg" href="/">Back to Search Page</a>
    </div>


  </section>

  <script type="text/javascript">
"use strict";

var csv_content;

function returnHome () {
  window.location.href='/';
}

function downloadCsv () {
  var hiddenElement = document.createElement('a');
  hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv_content);
  hiddenElement.target = '_blank';
  hiddenElement.download = 'antibodies_created.csv';
  hiddenElement.click();
}

function resetForm () {
  jQuery('#form-block').removeClass('hidden');
  jQuery('#upload-results-block').addClass('hidden');
  jQuery('#upload-results').html('');
  jQuery('#antibody-form').trigger('reset');
}

function AJAXSubmit (oFormElement) {
  if (!oFormElement.action) { return; }
  console.log('AJAXSubmit;token: ',token);
  var accessToken = token["groups.api.globus.org"]["access_token"];
  console.log('AJAXSubmit;groups.api.globus.org.access_token: ',accessToken);
  var oReq = new XMLHttpRequest();
  oReq.addEventListener("load", ajaxSuccess);
  jQuery('#form-block').addClass('hidden');
  jQuery('#loading-screen').removeClass('hidden');
  if (oFormElement.method.toLowerCase() === "post") {
    oReq.open("post", oFormElement.action, true);
    oReq.setRequestHeader("Authorization", "Bearer " + accessToken);
    oReq.send(new FormData(oFormElement));
  } else {
    var oField, sFieldType, nFile, sSearch = "";
    for (var nItem = 0; nItem < oFormElement.elements.length; nItem++) {
      oField = oFormElement.elements[nItem];
      if (!oField.hasAttribute("name")) { continue; }
      sFieldType = oField.nodeName.toUpperCase() === "INPUT" ? oField.getAttribute("type").toUpperCase() : "TEXT";
      if (sFieldType === "FILE") {
        for (nFile = 0; nFile < oField.files.length; sSearch += "&" + escape(oField.name) + "=" + escape(oField.files[nFile++].name));
      } else if ((sFieldType !== "RADIO" && sFieldType !== "CHECKBOX") || oField.checked) {
        sSearch += "&" + escape(oField.name) + "=" + escape(oField.value);
      }
    }
    oReq.open("GET", oFormElement.action.replace(/(?:\?.*)?$/, sSearch.replace(/^&/, "?")), true);
    oReq.send(null);
  }
}

function ajaxSuccess (event) {
  jQuery('#loading-screen').addClass('hidden');
  jQuery('#upload-results-block').removeClass('hidden');
  console.log('event.target: ',event.target)
  const http_status = event.target.status;
  var responsetable = '';
  let jsonresponse = null;
  let cssClassErr = 'alert-danger'
  try {
      jsonresponse = JSON.parse(event.target.response);
  } catch {
    const parser = new DOMParser();
    const doc = parser.parseFromString(event.target.response, 'text/html');
    const errorTitle = doc.querySelector('h1')?.textContent || 'Error';
    const errorMsg = doc.querySelector('p')?.textContent || 'An unexpected error occurred.';

    responsetable += '<div>';
    responsetable += `<p><b>${errorTitle}</b></p>`;
    responsetable += `<p>${errorMsg}</p>`;
    responsetable += '</div><br>';

    jQuery('#upload-results').html(responsetable).parent().addClass(cssClassErr);
    return;
  }
  if (http_status == 201) {
      var csv_content = "antibody_name,antibody_hubmap_id\n";
      responsetable += '<p>All entities in the Andibody Files have been successfully uploaded.</p>';
      responsetable += '<br>';
      responsetable += '<table><tr><th style="padding-right: 30px;">AVR Document</th><th>X-Atlas ID</th></tr>';
      jQuery.each(jsonresponse.antibodies, function(name, value) {
        responsetable += '<tr>';
        responsetable += '<td style="padding-right: 30px;">' + value.antibody_name + '</td>';
        responsetable += '<td>' + value.antibody_hubmap_id + '</td>';
        responsetable += '</tr>';
        csv_content += value.antibody_name + ',' + value.antibody_hubmap_id + '\n';
      })
      responsetable += '</table>';
      if (jsonresponse.pdf_files_not_processed.length > 0) {
        responsetable += '<br>';
        responsetable += '<p>The following .pdf files that were uploaded were not found in the .tsv files, and so were not saved.</p>';
        responsetable += '<br>';
        responsetable += '<table><tr><th>File Name</th></tr>';
        jQuery.each(jsonresponse.pdf_files_not_processed, function(index, value) {
          responsetable += '<tr>';
          responsetable += '<td>' + value + '</td>';
          responsetable += '</tr>';
        })
        responsetable += '</table>';
      }
      cssClassErr = 'alert-success'
  } else if (http_status == 406) {
      responsetable += '<div>';
      responsetable += '<p><b>Error</b></p>';
      responsetable += '<p>' + jsonresponse.message + '</p>';
      responsetable += '</div>';
      responsetable += '<br>';
  } else {
      responsetable += '<div>';
      responsetable += '<p><b>Unexpected Error</b></p>';
      responsetable += '<p>Received from the server: ' + jsonresponse.message + '; HTTP Status: ' + http_status + '</p>';
      responsetable += '</div>';
      responsetable += '<br>';
  }
  jQuery('#upload-results').html(responsetable).parent().addClass(cssClassErr);
}
</script>
{% endblock %}
