<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-329LZM826B"></script>
        <script>
            let track_host = 'avr.hubmapconsortium.org';
            if (window.location.hostname == track_host) {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-329LZM826B', {
                    'cookie_domain': track_host,
                    'cookie_flags': 'max-age=7200;secure;samesite=none'
                });
                console.log("Google Analytics ON");
            } else {
                console.log("Google Analytics OFF");
            }
        </script>
        <title>Antibody Validation Report (AVR) | {{ page_title }}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/searchkit/2.0.0/theme.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="icon" href="/static/favicon.ico">
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        {% block head_content %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
